// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, h1, table{
  font: Helvetica, sans-serif;
  color: #262626;
  margin-left : 30px;
}

vvm {
	margin-left : 5px;
}